	*{
		margin:0;
		padding: 0;
	}
	li{
		list-style: none;
	}
	.border{
		
		/*border: 2px solid black;*/
	}
	
	.box{
		height: 380px;
		width: 1200px;
		/*border: 1px solid red;*/
		margin: 100px auto;
		position: relative;
		overflow: hidden;
	}
	.slider{
		width: 8400px;
		position: absolute;
		left: -1200px;
	}
	.slide{
		width: 1200px;
		overflow: hidden;
		float: left;
	}
	.box>span{
		display: block;
		width: 30px;
		height: 50px;
		text-align: center;
		cursor: pointer;
		color:black;
		top: 175px;
		line-height: 50px;
		background: rgb(255,0,0);
		font-size: 30px;
		position: absolute;
		opacity: 0;
		color: white;
	}
	#left{
		left: 30px;
	}
	#right{
		right: 30px;
	}
	.nav{
		position: absolute;
		left: 520px;
		bottom: 5px;
	}
	.nav>li{
		float: left;
		width: 20px;
		height:20px;
		background: #ccc;
		cursor: pointer;
		margin:0 10px;
		border-radius: 50%;
	}
	.nav .active{
		background: red;
	}

	.navi{
		height: 22px;
		width: 100%;
		/*border:1px solid red;*/
		background-color: #ccc;

	}

	.tipbor{
		height: 22px;
		width: 1000px;
		/*background-color:blue;*/
		position: relative;
		margin: 0px auto;
		display: inline-block;
	}
	.marquee {
		
		border: 1px solid red;
		height:50px;
	}
	#ll{
		position: absolute;
		top: 0px;
		height: 22px;
		margin: 0px auto;
	}
	#time{
		height: 22px;
		color:red;
	}

	.horn{
		width: 20px;
		position: relative;
		left: 0px;
		display: inline-block;
		top: -3px;
		/*margin: 0px auto;*/
	}

	.cent{
		height: 22px;
		width: 1050px;
		margin: 0px auto;
		position: relative;
	}
	.avtive{
		color:white;
	}